/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size: 70%;
    margin: 2%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-title {
    font-size: 6em;
    margin: 1% 25% 0;
}

.page-quote {
    font-size: 3.5em;
    quotes: "\201C""\201D""\2018""\2019";
}

.page-quote:before {
    color: #999;
    content: open-quote;
    font-size: 1em;
    line-height: 0.1em;
    margin-right: 0.2%;
}

.page-quote:after {
    color: #999;
    content: close-quote;
    font-size: 1em;
    line-height: 0.1em;
    margin-left: 0.2%;
}

.initials {
    font-size: 4em;
}

.menu-item {
    font-size: 3em;
}

.credits-item {
    font-size: 1.5em;
    margin: 0.5em;
}

.content-title {
    font-size: 3.5em;
    margin: 0.1em 5%;
}

.content-subtitle {
    font-size: 2em;
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-quote {
    font-size: 2em;
    quotes: "\201C""\201D""\2018""\2019";
}

.content-quote:before {
    color: #999;
    content: open-quote;
    font-size: 1em;
    line-height: 0.1em;
    margin-right: 0.2%;
}

.content-quote:after {
    color: #999;
    content: close-quote;
    font-size: 1em;
    line-height: 0.1em;
    margin-left: 0.2%;
}

.post-title {
    font-size: 3em;
    margin: 0.1em 5%;
}

.post-subtitle {
    font-size: 1.5em;
    margin: 0.5em 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    font-size: 1.8em;
    margin: 1em 5%;
}

.project-box {
    font-size: 1em;
}

.icon {
    font-size: 2em;
}

p {
    font-size: 2.5em;
    margin: 0.2em 5%;
}

.google-fonts-1 {
    font-family: 'Gentium Book Basic', serif;
}

.google-fonts-2 {
    font-family: 'Pacifico', cursive;
}

.align-c {
    text-align: center;
}

.align-r {
    text-align: right;
}

.align-l {
    text-align: left;
}

.align-j {
    text-align: justify;
    text-justify: inter-word;
}

.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title-rule {
    margin: 0 20%;
}

.section-rule {
    margin: 0 5%;
}

/* Unordered list classes */
.menu {
    margin: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.social {
    margin: 3% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top {
    margin: 1% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects {
    margin: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.transbox {
    font-size: 2em;
    margin: 0.5em;
    padding: 1.2em;
    border: 0.2em solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 320px;
}

.blog-posts {
    font-size: 2em;
    margin: 0.2em;
}

/* Links */
a:link {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #999;
    text-decoration: none;
}

a:visited {
    color: #999;
    text-decoration: none;
}

a.icon-link {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    margin: 0 10px;
}

a.icon-link:link {
    color: #000;
    text-decoration: none;
}

a.icon-link:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
    text-decoration: none;
}

a.icon-link:active {
    color: #000;
    text-decoration: none;
}

a.icon-link:visited {
    color: #000;
    text-decoration: none;
}

a.button {
    text-decoration: none;
    font-size: 1em;
    margin: 75px 75px 25px;
    padding: 10px;
    border: 2px solid black;
    color: #000;
    background-color: #fff;
}

a.button:link {
    text-decoration: none;
}

a.button:visited {
    text-decoration: none;
}

a.button:hover {
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
}

a.button:active {
    text-decoration: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
