<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> {{ page.title }} </title>
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Pacifico|Lato:400,700" rel="stylesheet">

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">

        <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="google-fonts-1">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <!-- Profile picture
        <img class="profile" src="img/profile.jpg"> </img -->

        <!-- Top panel -->
        <ul class="top">
            <a class="icon-link" href="mailto:kalpitDOTthakkarATresearchDOTiiitDOTacDOTin"
                onclick="this.href=this.href.replace(/AT/, '&#64;').replace(/DOT/, '&#46;').replace(/DOT/, '&#46;').replace(/DOT/, '&#46;').replace(/DOT/, '&#46;')"><li><i class="fa fa-paper-plane icon" aria-hidden="true"></i></li></a>
            <li><a class="initials google-fonts-2" href=".."> KT </a></li>
            <a class="icon-link" href="#"><li><i class="fa fa-heart icon" aria-hidden="true"></i></li></a>
        </ul>

        <!-- Title and quote -->
        <h1 class="page-title align-c"> {{page.title}} </h1>
        <blockquote class="page-quote align-c"> {{page.quote}} </blockquote>
        <hr class="style-two title-rule align-c" />

        <!-- Sections -->
        <ul class="menu">
            <li class="menu-item"><a href="../about"> About </a></li>
            <li class="menu-item"><a> | </a></li>
            <li class="menu-item"><a href="../experience"> Experience </a></li>
            <li class="menu-item"><a> | </a></li>
            <li class="menu-item"><a href="../projects"> Projects </a></li>
            <li class="menu-item"><a> | </a></li>
            <li class="menu-item"><a href="../skills-and-interests"> Skills and Interests </a></li>
            <li class="menu-item"><a> | </a></li>
            <li class="menu-item"><a href="../resume"> Resume </a></li>
            <li class="menu-item"><a> | </a></li>
            <li class="menu-item"><a href="../blog"> Blog </a></li>
        </ul>
        <hr class="style-two title-rule align-c" /> <br />

        {{ content }} 

        <br /> <hr class="style-two title-rule align-c" />
        <!-- Social menu -->
        <ul class="social">
            <a class="icon-link" href="https://github.com/dracarys983"><li><i class="fa fa-github icon" aria-hidden="true"></i></li></a>
            <a class="icon-link" href="https://in.linkedin.com/in/dracarys983"><li><i class="fa fa-linkedin-square icon" aria-hidden="true"></i></li></a>
            <a class="icon-link" href="https://www.quora.com/profile/Kalpit-Thakkar-1"><li><i class="fa fa-quora icon" aria-hidden="true"></i></li></a>
            <a class="icon-link" href="https://plus.google.com/107689294818131557794"><li><i class="fa fa-google-plus icon" aria-hidden="true"></i></li></a>
        </ul>

        <!-- Copyright and Credits -->
        <ul class="social">
            <li class="credits-item"> Credits: </li>
            <li class="credits-item"> Kalpit Thakkar </li>
            <li class="credits-item"><a href="http://fontawesome.io/">Font Awesome</a></li>
            <li class="credits-item"><a href="https://css-tricks.com/">CSS Tricks</a></li>
            <li class="credits-item"><a href="https://disqus.com/">Disqus</a></li>
        </ul>
        <p class="credits-item align-r"><i class="fa fa-copyright" aria-hidden="true"></i> 2016. By Kalpit Thakkar </p>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-3.1.1.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-90530035-2','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
